body {
    background-color:rebeccapurple;
    color: white;
    font-size: 1.4em;
    text-align: center;
}


.lists {

display:flex;
flex-flow: row wrap;
justify-content:space-around;

}

.lists img {
    width: 30%;
    padding: 10px;
}

.ordered {
    background-color: mediumpurple;
    text-align: center;
}

.head {
    background-color:purple;
    text-align: center;
}

#love {
    width:80%;
}


